<div class='container-fluid' style="background-color: rgb(188, 224, 135); min-height: 650px;">
    <div class="row" style="padding: 20px; background-color: green;">
        <div class="col-sm-12">
            <h2 style="color: rgb(188, 224, 135)">Finalize a sua Votação</h2>
        </div>

    </div>
    <div class='col-sm-12 text-center'>
        <h4 style="color:green; margin-top: 15px;">Digite um comentário</h4>
    </div>
    <div class='col-sm-12'>
        <div class="mb-3">
            <textarea type="text" class="form-control" id="exampleFormControlInput1"></textarea>
        </div>
    </div>
    <div class='col-sm-12'>
        <h5>Filme Mais Votado:</h5>
        {{filmeMaisVotado}}
    </div>
    <div class='col-sm-12 text-center'>
        <button  class="btn btn-primary" (click)="finalizar()" style="margin-bottom: 10px;">Finalizar</button>
    </div>
</div>